@font-face {
 font-family: 'Playfair';
 src: url('fonts/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
 /* src: url(/fonts/FONT_FILE_NAME.woff2) format('woff2'); */
}

@font-face {
 font-family: 'Italianno';
 src: url('fonts/Italianno-Regular.ttf') format('truetype');
 /* src: url(/fonts/FONT_FILE_NAME.woff2) format('woff2'); */
}

	html
	{
		min-height: 150%;
	}

	html,
	div
	{
		margin: 0px;
		padding: 0;
		font-size: 0;
		font-family: sans-serif, Arial;
	}

	a {
		font-family: 'Playfair';
		color: #000;
		text-decoration: dotted;
	}

	.collaj_image {
		width:30%;
		height: auto;
	}

	.collaj_small {
		display:flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		width:90%;
		max-width:940px;
		margin: 0 auto;
	}

	.ic_btn_close_card_x,
	.ic_btn_close_card_x_w
	{
		display: inline-block;
		color: #090a0b;
		text-decoration: none;
		text-align: center;
		width: 48px;
		height: 48px;
		margin: 0;
		padding: 0;
		font-size: 0.9em !important;
		background-image: url('../imgs/ic_btn_x_w.svg');
		background-repeat: no-repeat;
		background-size: 80% 80%;
		background-position: center center;
		cursor: pointer;
	}

	body {
		background-color: #000;
		--color-foreground: #f7f8f9;
		--color-brand-primary: #ffc400;
		--color-brand-content: #ffcc00;
		/*--color-brand-primary: #265787;
		--color-brand-content: #265787;*/
		margin: 0px;
		padding: 0;
		text-align: center;
		min-height: 100%;
		z-index: 1;
	}

	form {
		display: block;
		width: 100%;
		max-width: 350px;
		margin: 30px auto 100px auto;
	}

	form p {
		margin: 8px auto 2px auto;
	}

	form.dark p {
		color: #c1c2c3;
		margin: 12px auto 4px auto;
	}

	.warn_txt {
		color: red;
		font-size: small;
	}

	.border_gold {
		display: inline-block;
		border: solid #ffc900 3px;
		border-radius: 8px;
		padding: 4px 24px;
		margin: 0 0;
	}
	a.border_gold {
		display: block;
		border: solid #ffc900 3px;
		border-radius: 8px;
		padding: 4px 24px;
		margin: 0 0;
	}	
	#overlay-item,
	#overlay-menu {
		display: none;
		flex-direction: column;
		align-items: center;
		position: fixed;
		top:0;
		left:0;
		background-color: #000000;
		width: 100%;
		height: 100%;
		z-index: 1000;
		padding: 0;
		margin: 0;
		overflow-y: scroll;
		overflow-x: hidden;
		user-select: none;
	}

	#overlay-menu {
		background-color: #ffffff;
		z-index: 1500;
		padding: 16px 0;
		width: 100%;
		height: 120%;
		overflow-y: hidden;
		
	}

	.menu_item {
		display: block;
		font-family: 'Playfair';
		font-size: 18px;
		width: 100%;
		max-width: 670px;
		height: auto;
		margin: 16px 0 0 0;
		color: #212223;
		font-weight: 500;
		text-decoration:none;
		transition: all 0.2s linear;
	}
	.menu_item:hover {
		color: #000;
		text-decoration:underline;
	}

	.menu_current {
		font-weight: 800;
	}

	.menu_items {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin: 16px 0 0 0;
		text-decoration:none;
	}
	.menu_items .menu_item {
		margin: 0;
	}

	#image-item {
		width: 90%;
		max-width: 800px;
		height: auto;
		margin: 8px auto;
		font-size: 19px;
	}


	h1 {
		font-size: 96px;
		font-weight: normal;
		margin: 0 5px;
		padding: 0 5px;
	}

	div.first-word-uppercase-p::first-letter {
	  font-size: 50px;
	  color: #e80222;
	  /* font-weight: bold; */
	  line-height: .75;
	}

	.header {
		position: relative;
		width:100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding :0 0;
		z-index: 10;
		background-color: #000;
		opacity: 1;
	}

	.topper	{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 20px;
		padding: 0;
		font-size: 18px;
		font-weight: 900;
		width:100%;
		max-height:110px;
	}


	.top_info_line,
	.section_line,
	.faq_line
	{
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0px auto;
		padding: 0;
		font-size: 0;
		text-align: center;
		max-width: 100%;
		
	}


	.faq_line 
	{
		font-size: 19px;
		text-align: left;
		color:  #e7e7e7;
		width: 80%;
		max-width: 760px;
		text-align: justify;
		
	}
	.faq_q {
		cursor: pointer;
		user-select: none;
		text-align: left;
	}

	.faq_ansvers {
		display: none;
		user-select: none;
		margin: 15px 0;
		
	}

	.faq_imgs_group {
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-wrap: wrap;
		justify-content: space-between;
		user-select: none;
		margin: 15px 0;
	}


	.faq_imgs_group img {
		display: block;
		max-width: 250px;
		width: 47%;
		border: solid 3px #fff;
		margin: 5px;
	}


	.top_line {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		max-width: 970px;
	}

	.section_line
	{
		flex-direction: column;
		flex-wrap: nowrap;
	}

	.contacts_line
	{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		margin: 30px auto;
		max-width: 970px;
	}

	.contacts_line div
	{
		margin: 0;
		padding: 0 5%;
		width: 50%;
		border: solid 0px red;
	}

	.top_langs, .top_url, .menu_items
	{
		margin: 0px auto;
		padding: 20px 0 0 0;
		font-size: 16px;
		font-weight: 400;
		font-family: sans-serif;
		color: #c1c2c3;
		text-align: right;
		max-width: 350px;
	}

.menu_items
	{
		font-size: 19px;
		font-weight: regular;
	}

	lang_item:hover,
	.top_url:hover
	{
		color: #fcfdfe;
		cursor: pointer;
	}


	.top_url
	{
		font-family: sans-serif;
		color: #c1c2c3;
		text-align: left;
	}


	.top_product,
	.top_noproduct
	{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 0;
		padding: 0;
		font-size: 0;
		height: auto;
		width: 100%;
	}

	.top_product
	{
		margin: 0;
		padding: 0;
		font-size: 0;
		min-height: 720px;
		background-image: url("../imgs/bg_b_tr.png"), url("../imgs/product_1.png"), url("../imgs/bg_product_2.jpg");
		background-repeat: repeat-x, no-repeat, no-repeat;
		background-size: auto 50%, 50% auto, 30% auto;
		background-position: 0% 100%, 105% 100px, -20px 350px;
		background-attachment: scroll;

	}

	lang_cur
	{
		color: #fff;
		cursor: auto;
	}


	img.top_logo
	{
		width: auto;
		height: 150px;
		margin: 0;
		padding: 0;
		font-size: 96px;
	}

	img.title_sctn_img
	{
		width: 94%;
		max-width: 718px;
		height: auto;
		margin: 120px auto 0 auto;
		padding: 0;
		font-size: 96px;
	}

	img.btn_view_img
	{
		width: 60%;
		height: auto;
		margin: 0 auto;
		padding: 0;
		font-size: 36px;
		cursor: pointer;
	}


	.top_info
	{
		display:block;
		padding-top: 30px;
		font-family: serif, Arial;
		font-size: 36px;
		color: #dddedf;
		text-align: right;
		min-width: 43%;
		max-width: 44%;
	}
	.top_info_r
	{
		display:block;
		padding-top: 30px;
		font-family: serif, Arial;
		font-size: 36px;
		color: #dddedf;
		text-align: right;
		min-width: 32%;
		max-width: 33%;
	}

	.section_1
	{
		display:block;
		margin: 100px 0 0 0;
		padding: 0;
		font-size: 0;
		background-image: url("../imgs/bg_sg_1.jpg");
		min-height: 687px;
		background-repeat: no-repeat;
		background-size: auto 50%;
		background-position: 70% 0px;
	}

	.section_2
	{
		display:block;
		margin: 100px 0 0 0;
		padding: 0;
		font-size: 0;
		background-image: url("../imgs/bg_mir_1.jpg");
		background-repeat: no-repeat;
		min-height: 710px;
		background-size: 700px auto;
		background-position: -300px 0;
		border: solid 0px #ffcc00;
	}



	.section_3
	{
		display:block;
		margin: 100px 0 0 0;
		padding: 0;
		font-size: 0;
		background-image: url("../imgs/bg_s_desktop.jpg");
		min-height: 840px;
		background-repeat: no-repeat;
		background-size: auto 100%;
		background-position: 50% 50%;
	}

/*
	.section_3
	{
		display:block;
		margin: 100px 0 0 0;
		padding: 0;
		font-size: 0;
		background-image: url("../imgs/bg_s_3.png"), url("../imgs/bg_s_2.png"), url("../imgs/bg_s_1.jpg");
		min-height: 810px;
		background-repeat: no-repeat, no-repeat, no-repeat;
		background-size: 60% auto, 60% auto, 50% auto;
		background-position: 150% 190px, 110% -10px, -15% 0px;
		! border: solid 1px #f700ff;
	}	
	 */
	
	 .section_cherch
	{
		display:block;
		width: 100%;
		max-width: 1200px;
		height: 550px;
		max-height: 550px;
		margin: 0 auto;
		padding: 0;
		font-size: 0;
		background-image: url("../imgs/bg_cherch_y.jpg");
		background-repeat: no-repeat;
		background-size: auto 100%;
		background-position: 50% 50%;
		border: solid 0px red;
	}

	.title_cherch {
		max-width:500px;
		width:90%;
		margin: 0 auto;
		padding-top: 60px;
	}

	.cherch_promo {
		width: 310px;
		height:auto;
		padding-top: 30px;
	}


	.info_size_1
	{
	font-size: 64px;
	line-height: 55%;
	}
	.info_size_2
	{
	font-size: 48px;
	line-height: 55%;	
	}
	.info_size_3,
	.title
	{
	font-size: 32px;
	line-height: 50%;
	}

	.info_size_1,
	.info_size_2,
	.info_size_3
	{
	
	margin-top: 25px;
	padding: 0;
	font-family: 'Playfair';
	/*font-family: 'Italianno';*/
	}

	.contacts_tel,
	.contacts_addr
	{ 
		padding: 0;
		font-family: 'Playfair';
		font-size: 28px;
		line-height: 1.2em;
	}

	.contacts_tel, .menu_item_big 
	{ 
		font-family: TimesNewRoman, Times, serif;
		font-size: 42px;
		line-height: 1.2em;
	}

.menu_item_big 
	{ 
		font-weight: 800;
	}

	.section_size_1,
	.section_size_2
	{
		font-family: 'Playfair';
		font-size: 72px;
		font-weight: 600;
	}
	.section_size_2
	{ font-size: 22px; font-weight: 400;}

	.bg-text-1 {
		background: center / cover url("../imgs/bg_text_1.jpg");
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.bg-text-2 {
		background: -webkit-linear-gradient(to right, #e8d33f, #af12f7, #ebad03);
		background: -moz-linear-gradient(to right, #e8d33f, #af12f7, #ebad03);
		background: linear-gradient(to right, #e8d33f, #af12f7, #ebad03);
		background-clip:text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.dict_blck,
	.request_blck {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.mobile_blck,
	.nav_menu,
	.nav_back
	{
		display: none;
	}

	.nav_more_w
	{
		display: flex;
		cursor: pointer;
		width:42px;
		height:42px;
		border-style: solid;
		border-radius: 23px;
		border-width: 2px;
		border-color: #dddedf;
		margin-top:8px;
	}

	.roll180_scale1_3 {
	 display: block;
	}

	#dict_content_base,
	#request_content_base
	{
		display:none;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		min-height: 100px;
		width: 100%;
		background-color: #fff;
		color: black;
		font-size:18px;
		margin-top: 20px;
		padding: 20px 0 2px 0;

	}
	.dict_content_texts {
		display: flex;
		flex-direction: column;
		font-family: 'Playfair';
		min-height: 100px;
		width: 80%;
		max-width: 840px;
		color: black;
		font-size: 18px;
		margin: 0 auto;
	}

	#dict_content_item1,
	#dict_content_item2,
	#dict_content_item3,
	#dict_content_item4
	{
		display: inline-block;
		font-family: 'Playfair';
		font-weight: 600;
		height: auto;
		width: 100%;
		font-size: 22px;
		margin: 10px 0 0 0;
	}

	#dict_content_item1_info,
	#dict_content_item2_info,
	#dict_content_item3_info,
	#dict_content_item4_info
	{
		display: inline-block;
		font-family: 'Playfair';
		color: rgb(89, 90, 91);
		font-weight: 550;
		height: auto;
		width: 100%;
		font-size: 18px;
		padding: 10px 0;
	}

/* 	----------------------------   */
/*             ANIMATIONS          */
/* 	----------------------------   */

	.roll180_scale1_3:hover {
		-webkit-transform: scale(1.35) rotate(360deg);
		-moz-transform: scale(1.35) rotate(360deg);
		-ms-transform: scale(1.35) rotate(360deg);
		-o-transform: scale(1.35) rotate(360deg);
		transform: scale(1.35) rotate(360deg);
		-webkit-transition-duration: 0.2s; /* Safari */
		transition-duration: 0.2s;
	}



	input.form-control,
	textarea.form-control
	{
		font-size: 21px;
		font-family: Arial, Helvetica, sans-serif;
		color:#000;
		padding: 11px 8px;
		background-color: #fff;
		border-radius: 5px;
		border-width: 1px;
		border-color: #202020;
	}

	input.form-control,
	textarea.form-control
	{
		font-size: 21px;
		font-family: Arial, Helvetica, sans-serif;
		color:#000;
		padding: 11px 8px;
		background-color: #fff;
		border-radius: 5px;
		border-width: 1px;
		border-color: #202020;
		width: 100%;
		max-width: 350px;
	}


/* 	----------------------------   */
/* 	OTHER MEDIA AND SCREEN SIZES   */
/* 	----------------------------   */

/* 	----------------------------   */
/* 	        SMARTPHONES            */
/* 	----------------------------   */
/* Extra small devices (phones, 600px(720px ?) and down) */
@media only screen and (max-width: 720px)
{

	.desktop_blck {
		display: none;
	}
	.nav_menu,
	.nav_back
	{
		display: flex;
		cursor: pointer;
		width:42px;
		height:42px;
		border-style: solid;
		border-radius: 23px;
		border-width: 2px;
		border-color: #dddedf;
		margin:7px 0 0 16px;
	}

	.mobile_hidden {
		display:none;
	}

	.collaj_image {
		width:98%;
		height: auto;
	}
	
	.collaj_small {
		display:flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		width:90%;
		max-width:940px;
		margin: 0 auto;
	}

	.header {
		min-height: 215px;
		height: auto;
	}
	img.top_logo
	{
		width: 160px;
		height: auto;
		margin: 0;
	}

	.top_info_line
	{
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		justify-content: center;
		margin: 0px auto;
		padding: 0;
		font-size: 0;
		text-align: center;
		max-width: 100%;
	}

	.top_info
	{
		display:block;
		padding-top: 30px;
		text-align: right;
		margin: 0 5%;
		width:100%;
		max-width:350px;
	}
	.top_info_r
	{
		display:block;
		padding-top: 30px;
		font-family: serif, Arial;
		font-size: 36px;
		color: #dddedf;
		text-align: right;
		margin: 0 10%;
		width:80%;
		max-width:350px;
	}

	.top_product
	{
		min-height: 530px;
		background-size: auto 50%, 50% auto, 50% auto;
		background-position: 0% 100%, 120% 70px, -20px 410px;
	}

	.contacts_line
	{
		display: flex;
		margin: 0px 0 0 0;
		padding: 0;
		flex-direction: column-reverse;
		flex-wrap: no-wrap;
		width:100%;
	}

	.contacts_line div
	{
		margin: 0 auto;
		padding: 0 0 20px 0;
		width: 100%;
	}

	.info_size_1
	{ font-size: 36px; line-height: 1.2em; }

	.info_size_2
	{ font-size: 28px;line-height: 1.2em; }

	.info_size_3,
	.title
  	{ font-size: 24px; line-height: 1.2em; }

	.contacts_tel, .menu_item_big 
	{ font-family: TimesNewRoman, Times, serif; font-size: 28px; line-height: 1.2em;font-weight: 400;}
	
	.menu_item_big 
	{ font-weight: 600; font-size: 28px;}

	.contacts_addr
	{ font-size: 24px;line-height: 1.2em;font-weight: 300;}


	.section_size_1
	{ font-size: 42px; }

	.section_size_2
	{ font-size: 18px; font-weight: 400;}

	.section_cherch
	{
		height: 400px;
		max-height: 400px;
		background-size: auto 110%;
		background-position: 50% 50%;
	}

	.title_cherch {
		max-width: 280px;
		padding-top: 60px;
	}

	.cherch_promo {
		width: 230px;
		padding-top: 30px;
	}

	img.btn_view_img
	{ width: 60%; }

	.section_1
	{
		min-height: 500px;
		background-size: 85% auto;
		background-position: 280% 0px;
	}

	.section_2
	{
		min-height: 577px;
		background-size: 420px auto;
		background-position: -250px 0;
		border: solid 0px red;
	}


	.section_3
	{
		display:block;
		margin: 10px 0 0 0;
		padding: 0;
		font-size: 0;
		background-image: url("../imgs/bg_s_mobile.jpg");
		min-height: 540px;
		max-height: 515px;
		background-repeat: no-repeat;
		background-size: auto 530px;
		background-position: 50% 0px;
	}


	/* For mobile phones: */
	[class*="col-"] {
	  width: 100%;
	}

}


/* 	----------------------------   */
/* 	           TABLETS             */
/* 	----------------------------   */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 720px)
{
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}

  img.top_logo
  {
	  width: 200px;
	  height: auto;
	  margin: 20px 0 0 0;
  }

  .header {
  	position: relative;
  	width: 100%;
  	height: 266px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	padding: 0 0;
  	z-index: 10;
  	background-color: #000;
  	opacity: 1;
  }

  .topper {
	margin: 0px;
  }

  img.title_sctn_img
  {
	  width: 80%;
	  max-width: 650px;
	  height: auto;
	  margin: 140px auto 0 auto;
	  padding: 0;
	  font-size: 96px;
  }

	.section_size_1 {
		font-size: 52px;
	}

	.section_size_2 {
		font-size: 22px;
		font-weight: 400;
	}

	.section_2 {
		min-height: 600px;
		background-size: 420px auto;
		background-position: -250px 0;
		border: solid 0px #0000ff80;
	}

	.section_3
	{
		display:block;
		margin: 100px 0 0 0;
		padding: 0;
		font-size: 0;
		background-image: url("../imgs/bg_s_desktop.jpg");
		min-height: 739px;
		max-height: 740px;
		background-repeat: no-repeat;
		background-size: auto 90%;
		background-position: 50% 0px;
	}
}

/* 	----------------------------   */
/* 	----------------------------   */
/* 	        D E S K T O P S        */
/* 	----------------------------   */
/* 	----------------------------   */
/* Large devices (laptops/desktops, 970px and up) */
@media only screen and (min-width: 970px)
{
	/* For desktop: */
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}

	img.top_logo
	{
		width: 280px;
		height: auto;
		margin: 30px 0 0 0;
	}

	.header
	{
		height: 318px;
	}
	
	img.title_sctn_img
	{
		width: 80%;
		max-width: 812px;
		height: auto;
		margin: 130px auto 0 auto;
		padding: 0;
		font-size: 96px;
	}

	.section_size_1 {
		font-size: 64px;
	}

	.section_size_2 {
		font-size: 18px;
		font-weight: 400;
	}


	.section_2
	{
		min-height: 720px;
		background-size: 700px auto;
		background-position: -100px 0;
		border: solid 0px #0000ff;
	}

	.section_3
	{
		display:block;
		margin: 100px 0 0 0;
		padding: 0;
		font-size: 0;
		background-image: url("../imgs/bg_s_desktop.jpg");
		min-height: 735px;
		background-repeat: no-repeat;
		background-size: auto 100%;
		background-position: 50% 0px;
	}

	
	.faq_imgs_group img {
		display: block;
		max-width: 250px;
		width: 32%;
		border: solid 3px #fff;
		margin: 5px;
	}
}

/*
@media not print
{
	body[data-theme="dark"] 
	{
	background-color: #202020;
	color: #d0d0d0;
 
	}

	@media (prefers-color-scheme: dark)
		{
		body:not([data-theme="light"])
	  	{
	  	--color-background: #202020;
	  	--color-foreground: #d0d0d0;

	  	}

	}
}
*/
